@{
    ViewData["Title"] = "Localizar cartão";
}

<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Localizar cartão</h2>

            <form asp-controller="Card" asp-action="GetCard" method="post">
                <div class="mb-3">
                    <label for="cardOwnerCpf" class="form-label">Digite o CPF do colaborador:</label>
                    <input type="text" name="filter" class="form-control" id="cardOwnerCpf" placeholder="000.000.000-00" required />
                </div>
                
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">Localizar</button>
                    <a class="btn btn-danger" href="/">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
